$width:100%;
$container-width: 1180px;
$font-style: 'Microsoft JhengHei', 'Noto Sans TC', Arial, Sans Serif;

$font-size: 16px;
$line-height: 1.6;
$main-color: #c2b697;
$main-color2:#899296;
$back-color: #f9f6f1;

$font-color: #42474c;
$link-color: white;
$link-color-hover: #c2b697;